/AuthenticationService.class
/ClientHandlerThread.class
/Device.class
/DeviceManager.class
/Domain.class
/DomainManager.class
/IoTServer.class
/ManagerSever.class
/ManagerUsers.class
/ServerResponse.class
